openai~=0.27.4
beautifulsoup4~=4.12.1
tiktoken~=0.3.3
python-dotenv~=1.0.0
google-api-python-client
duckduckgo-search
requests~=2.28.2
PyYAML~=6.0
colorama~=0.4.6
docker~=6.0.1
json5~=0.9.11
google_auth_oauthlib==1.0.0
google-cloud-storage
google-auth
